$main-font-family: 'Montserrat', sans-serif;
$main-font-color: #333333;
$blue-font-color: #2196f3;
$lightblue-font-color: #2aadff;
$background-font-color: #e8f4fe;

%bg-text {
  //position: absolute;
  z-index: 0;
  display: block;
  left: 10px;
  font-family: $main-font-family;
  font-weight: 900;
}
%bg-text__title{
  font-size: 3.75rem;
  color: $background-font-color;
  margin: 0;
}
%sct-title{
  position: absolute;
  z-index: 1;
  top: 30px;
}
%sct-title__text{
  font-size: 2.25rem;
  margin: 0;
  font-family: $main-font-family;
  font-weight: 500;
}
%mission-content-titles{
  font-size: 1.875rem;
  line-height: 36px;
  color: $blue-font-color;
  font-family: $main-font-family;
  margin-bottom: 27px;
}
%mission-content-texts{
  font-size: 0.875rem;
  line-height: 30px;
  color: $main-font-color;
  font-family: $main-font-family;
}
/* ========== STYLES ========== */
body {
  font-size: 16px;
  background-color: white;
  font-family: $main-font-family;
  //font-family: 'Nunito', sans-serif;

  .navbar-expand-lg .navbar-collapse{
    font-family: $main-font-family;
    font-size: 1rem;
    color: $main-font-color;

    .nav-item:not(:last-child){
      margin-right: 50px;

      @media (min-width: 992px) and (max-width: 1023.98px) {
        margin-right: 25px;
      }
      @media (min-width: 1024px) and (max-width: 1199.98px) {
        margin-right: 30px;
      }
    }
  }
  .navbar-brand img{

    @media (min-device-width: 320px) and (max-width: 424.98px) {
      width: 130px;
    }
  }


  /* === Start Mining Section === */
  .mining-section{
    margin: 85px 0 0 15px;

    @media (min-device-width: 425px) and (max-width: 991.98px) {
      text-align: center;
      margin: 45px 0 0 15px;
    }
    @media (min-device-width: 320px) and (max-width: 424.98px) {
      text-align: center;
      margin: 45px 0;
    }

    &__title{
      position: relative;
      margin-bottom: 35px;

      & h1{
        font-size: 3rem;
        font-family: $main-font-family;
        color: $main-font-color;

        @media (min-device-width: 992px) and (max-width: 1200px) {
          font-size: 2.5rem;
        }
        @media (min-width: 425px) and (max-width: 991.98px) {
          font-size: 2.2rem;
        }
        @media (min-device-width: 320px) and (max-width: 424.98px) {
          font-size: 1.7rem;
        }

        & span{
          color: $blue-font-color;
        }
      }
      & .blue-line{
        position: absolute;
        top: 60px;
        left: 5px;


        @media (min-device-width: 993px) and (max-width: 1200px) {
          left: 0;
          width: 160px;
        }
        @media (width: 992px) {
          left: 0;
          width: 160px;
        }
        @media (min-device-width: 425px) and (max-width: 991px) {
          display: none;
        }
        @media (min-device-width: 320px) and (max-width: 424.98px) {
          display: none;
        }

      }
    }

    &__counter{

      & h3{
        font-size: 1.5rem;
        font-family: $main-font-family;
        color: $main-font-color;
      }
      & p{
        font-size: 1.5rem;
        color: $lightblue-font-color;
        margin: 20px 160px;

        @media (min-width: 320px) and (max-width: 1199.98px) {
          //margin-left: 20px;
          //text-align: center;
          margin: 0 auto;
        }
      }

      @media (min-width: 320px) and (max-width: 1199.98px) {
        text-align: center;
      }
    }

    &__range{

      & h4{
        font-family: $main-font-family;
        font-size: 1.125rem;
        color: $main-font-color;
        margin-bottom: 10px;
      }
      & p{
        //text-align: center;
        font-size: 1.5rem;
        color: $blue-font-color;
        margin-left: 195px;

        @media (min-width: 320px) and (max-width: 1199.98px) {
          margin-left: 0;
          text-align: center;
        }
      }
      .slider{
        color: green;
      }
      input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 415px;

        @media (min-width: 390px) and (max-width: 480px) {
          width: 360px;
        }
        @media (min-width: 320px) and (max-width: 389.98px) {
          width: 300px;
        }
      }
      input[type=range]:focus {
        outline: none;
      }

      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        background: #2195f3;
        border-radius: 3px;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-box-shadow: -4px 0px 10px 0px rgba(212,212,212,0.4);
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background: white;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -13px;
      }
      input[type=range]::-moz-focus-inner {
        border: 0;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        background: #2195f3;
        border-radius: 3px;
      }
      input[type=range]::-moz-range-thumb {
        -moz-box-shadow: -4px 0px 10px 0px rgba(212,212,212,0.4);
        box-shadow: -4px 0px 10px 0px rgba(212,212,212,0.4);
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background: #ffffff;
        cursor: pointer;
        border: none;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #2195f3;
        border-radius: 3px;
      }
      input[type=range]::-ms-fill-upper {
        background: #2195f3;
        border-radius: 3px;
      }
      input[type=range]::-ms-thumb {
        box-shadow: -4px 0px 10px 0px rgba(212,212,212,0.4);
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background: #ffffff;
        cursor: pointer;
      }
    }

    &__button{
      //text-align: center;
      margin-left: 35px;
      margin-top: 40px;

      @media (min-width: 320px) and (max-width: 1199.98px) {
        margin-left: 0;
        text-align: center;
      }

      .start-button{
        width: 339px;
        height: 60px;
        border-radius: 30px;
        box-shadow: 0px 5px 16px rgba(158,158,158,0.3);
        background-color: $lightblue-font-color;
        color: #ffffff;
        text-transform: uppercase;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          width: 280px;
        }
      }
      .start-button:hover{
        background-color: $blue-font-color;
      }
      .stop-button{
        display: none;
        width: 339px;
        height: 60px;
        border-radius: 30px;
        box-shadow: 0px 5px 16px rgba(158,158,158,0.3);
        background-color: #ffffff;
        color: $lightblue-font-color;
        text-transform: uppercase;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          width: 280px;
        }
      }
    }

    &-image{
      background-image: url('../images/png/MiningSectionBG.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      & img{
        margin-top: 100px;
      }
    }
  }
  /* === End Mining Section === */

  /* === Start Numbers Section === */
  .numbers-section{
    margin: 40px 0 60px;

    @media (min-device-width: 320px) and (max-width: 424.98px) {
      margin: 40px 0 30px;
    }

    &__visit{
      position: relative;
      text-align: center;

      @media (min-device-width: 425px) and (max-width: 991.98px) {
        margin: 30px;
      }
      & img{
        position: absolute;
      }
      & h2{
        font-family: $main-font-family;
        font-size: 3rem;
        color: $main-font-color;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          font-size: 1.7rem;
        }

        & span{
          font-family: $main-font-family;
          font-size: 1.875rem;
          color: $main-font-color;

          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 1.2rem;
          }
        }
      }
      //counter
      & img{
        position: absolute;
        right: 70px;
        top: 60px;

        @media (min-device-width: 992px) and (max-width: 1199.98px) {
          right: 25px;
        }
        @media (min-device-width: 425px) and (max-width: 991.98px) {
          right: 115px;
        }
        @media (min-device-width: 320px) and (max-width: 424.98px) {
          display: none;
        }
      }
    }

    &__donate{
      position: relative;
      text-align: center;

      @media (min-device-width: 425px) and (max-width: 991.98px) {
        margin: 30px;
      }

      & h2{
        font-family: $main-font-family;
        font-size: 3rem;
        color: $main-font-color;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          font-size: 1.7rem;
        }

        & span{
          font-family: $main-font-family;
          font-size: 1.875rem;
          color: $main-font-color;

          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 1.2rem;
          }
        }
      }

      & img{
        position: absolute;
        right: 45px;
        top: 60px;

        @media (min-device-width: 992px) and (max-width: 1199.98px) {
          right: 0;
        }
        @media (min-device-width: 425px) and (max-width: 991.98px) {
          right: 90px;
        }
        @media (min-device-width: 320px) and (max-width: 424.98px) {
          display: none;
        }
      }
    }
  }
  /* === End Numbers Section === */

  /* === Start How It Works Section === */
  .how-works-section{
    margin-bottom: 60px;

    &__title{
      position: relative;

      .background-text{
        @extend %bg-text;

        &__title {
          @extend %bg-text__title;

          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 2.2rem;
          }
        }
      }
      .section-title{
        @extend %sct-title;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          top: 10px;
        }

        &__text{
          @extend %sct-title__text;

        }
      }
    }
    &__content{
      background: url('../images/png/HowItWorksLine.png');
      background-size: 800px;
      background-repeat: no-repeat;
      background-position: center;
      padding-top: 65px;

      @media (min-width: 320px) and (max-width: 991.98px) {
        padding-top: 25px;
        background: none;
      }

      .col-lg-4{
        text-align: center;
      }
      .blot{
        background: url('../images/png/Start.png');
        background-size: auto;
        background-repeat: no-repeat;

        @media (min-device-width: 320px) and (max-width: 991.98px) {
          background: none;
        }
      }
      .rocket-block{
        padding: 40px 45px;

        @media (min-device-width: 320px) and (max-width: 991.98px) {
          padding: 0 45px;
        }

        img{
          padding: 40px 0 20px;
        }
        p{
          font-size: 0.75rem;
          font-family: $main-font-family;
          color: $main-font-color;
        }
      }
      .cpu-block{
        padding: 40px 45px;

        @media (min-device-width: 320px) and (max-width: 991.98px) {
          padding: 0 45px;
        }

        img{
          padding: 40px 0 20px;
        }
        p{
          font-size: 0.75rem;
          font-family: $main-font-family;
          color: $main-font-color;
        }
      }
      .refresh-block{
        padding: 40px 50px;

        @media (min-device-width: 320px) and (max-width: 991.98px) {
          padding: 0 50px;
        }

        img{
          padding: 40px 0 20px;
        }
        p{
          font-size: 0.75rem;
          font-family: $main-font-family;
          color: $main-font-color;
        }
      }
      .org-block{
        padding: 40px 47px;

        @media (min-device-width: 320px) and (max-width: 991.98px) {
          padding: 0 47px;
        }

        img{
          padding: 40px 0 20px;
        }
        p{
          font-size: 0.75rem;
          font-family: $main-font-family;
          color: $main-font-color;
        }
      }
    }
  }
  /* === End How It Works Section === */

  /* === Start Organizations Section === */
  .organizations-section  {
    margin-bottom: 90px;

    &__title{
      position: relative;
      margin-bottom: 45px;

      .background-text{
        @extend %bg-text;

        &__title {
          @extend %bg-text__title;

          @media (min-width: 425px) and (max-width: 991.98px) {
            font-size: 2.2rem;
          }
          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 1.75rem;
            text-align: center;
          }
        }
      }
      .section-title{
        @extend %sct-title;

        @media (min-width: 425px) and (max-width: 991.98px) {
          top: 10px;
        }
        @media (min-device-width: 320px) and (max-width: 424.98px) {
          font-size: 1.25rem;
          text-align: center;
          top: 25px;
        }

        &__text{
          @extend %sct-title__text;

          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 1.25rem;
          }
        }
      }
    }

    .organizations-logo{
      background: url('../images/png/BgCircle.png');
      background-position: center;
      background-size: 200px;
      background-repeat: no-repeat;
      padding: 50px;
      text-align: center;

      a{
        outline: none;
      }
      & .logo-save{
        padding-top: 15px;
      }
      & .logo-ybs{
        padding-top: 15px;
      }
      & .logo-green{
        padding-top: 30px;
        padding-right: 10px;
      }
      & .logo-abla{
        padding-left: 15px;
        padding-top: 20px;
      }
    }

    & .row {

      & img{
        margin: 0 auto;
      }
    }
  }
  /* === End Organizations Section === */

  /* === Start Mission Section === */
  .mission-section {
    margin-bottom: 85px;

    @media (min-width: 425px) and (max-width: 991.98px) {
      margin-bottom: 45px;
    }

    &__title {
      position: relative;
      margin-bottom: 85px;

      @media (min-width: 320px) and (max-width: 991.98px) {
        margin-bottom: 45px;
      }

      .background-text {
        @extend %bg-text;

        &__title {
          @extend %bg-text__title;

          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 2.5rem;
          }
        }
      }
      .section-title {
        @extend %sct-title;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          top: 15px;
        }

        &__text {
          @extend %sct-title__text;
        }
      }
    }

    &__content{

      &-img{

        @media (min-width: 320px) and (max-width: 991.98px) {
          text-align: center;
        }
        .title-img{

          @media (min-width: 320px) and (max-width: 991.98px) {
            width: 100%;
          }
        }
      }

      &-text{

        @media (min-width: 320px) and (max-width: 991.98px) {
          margin-top: 30px;
        }

        .new-horizon h3{
          @extend %mission-content-titles;
        }
        .our-aim h3{
          @extend %mission-content-titles;
          margin-top: 45px;
        }
        .donate-cpu h3{
          @extend %mission-content-titles;
          margin-top: 45px;
        }
        .new-horizon p{
          @extend %mission-content-texts;

          @media (min-device-width: 993px) and (max-width: 1199.98px) {
            line-height: 23px;
          }
          @media (width: 992px) {
            line-height: 23px;
          }
          @media (min-width: 320px) and (max-width: 991px) {
            text-align: justify;
          }
        }
        .our-aim p{
          @extend %mission-content-texts;

          @media (min-device-width: 993px) and (max-width: 1199.98px) {
            line-height: 23px;
          }
          @media (width: 992px) {
            line-height: 23px;
          }
          @media (min-width: 320px) and (max-width: 991px) {
            text-align: justify;
          }
         }
        .donate-cpu p{
          @extend %mission-content-texts;

          @media (min-device-width: 993px) and (max-width: 1199.98px) {
            line-height: 23px;
          }
          @media (width: 992px) {
            line-height: 23px;
          }
          @media (min-width: 320px) and (max-width: 991px) {
            text-align: justify;
          }
        }
      }
    }
  }
  /* === End Mission Section === */

  /* === Start Help us Section === */
  .help-us-section{

    &__title{
      position: relative;
      margin-bottom: 45px;

      @media (min-width: 320px) and (max-width: 991.98px) {
        margin-bottom: 25px;
      }

      .background-text {
        @extend %bg-text;

        &__title {
          @extend %bg-text__title;

          @media (min-device-width: 320px) and (max-width: 424.98px) {
            font-size: 2.4rem;
          }
        }
      }
      .section-title {
        @extend %sct-title;

        @media (min-device-width: 320px) and (max-width: 424.98px) {
          top: 12px;
        }

        &__text {
          @extend %sct-title__text;
        }
      }
    }
    &__subtitle{

      & div{
        font-size: 1rem;
        line-height: 36px;
        color: $main-font-color;
        font-family: $main-font-family;
        text-align: center;
        padding: 0;
      }
    }
    &__content{
      background: url('../images/png/BackgroundHelp.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      .coins-row{
        margin: 70px 0;
      }
      .coins-row-2{
        margin: 35px 0 70px;

        @media (min-width: 320px) and (max-width: 991.98px) {
          margin: 35px 0 45px;
        }
      }
      .coin-block{
        text-align: center;

        .hidden{
          visibility: hidden;
        }

        @media (min-width: 320px) and (max-width: 991.98px) {
          margin-bottom: 30px;
        }

        &__title{
          font-size: 1.125rem;
          margin: 25px 0 15px;
          color: $main-font-color;
          font-family: $main-font-family;
        }
        &__button{
          width: 146px;
          height: 38px;
          border-radius: 19px;
          box-shadow: -0.349px -4.988px 16px rgba(212,212,212,0.6);
          background-color: #ffffff;
          color: $blue-font-color;
          border: none;
          font-family: $main-font-family;
          font-weight: 500;
          outline: none;
          cursor: pointer;
        }
        &__button:hover{
          box-shadow: -0.349px -4.988px 16px rgba(150,150,150,0.6);
          background-color: $blue-font-color;
          color: #ffffff;
          border: none;
          font-family: $main-font-family;
          font-weight: 500;
        }
        .group-element{
           position: relative;

          .w-code{
            width: 355px;
            height: 26px;
            border-radius: 10px;
            border: none;
            background-color: #ffffff;
            box-shadow: -4px 0px 10px 0px rgba(212,212,212,0.4);
            font-size: 0.75rem;
            font-size: 16px;
            letter-spacing: 1px;
            color: $main-font-color;
            font-family: "Nunito";
            margin-top: 15px;
            outline: none;

            @media (min-width: 1024px) and (max-width: 1200px) {
              width: 295px;
            }
            @media (min-width: 992px) and (max-width: 1023.98px) {
              width: 240px;
            }
            @media (min-width: 320px) and (max-width: 768px){
              background-color: rgba(212, 212, 212, 0.8);
            }
            @media (min-width: 396px) and (max-width: 425px) {
              width: 280px;
            }
            @media (min-width: 320px) and (max-width: 395px) {
              width: 260px;
            }
          }

          .copy-code{
            position: absolute;
            right: -35px;
            top: 4px;
            cursor: pointer;

            @media (min-width: 992px) and (max-width: 1023.98px) {
              right: 0;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
              right: 130px;
            }
            @media (min-width: 542px) and (max-width: 767.98px) {
              right: 45px;
            }
            @media (min-width: 500px) and (max-width: 541.98px) {
              right: 25px;
            }
            @media (min-width: 425px) and (max-width: 499.98px) {
              right: 0px;
            }
            @media (min-width: 351px) and (max-width: 424.98px) {
              right: -5px;
            }
            @media (min-width: 320px) and (max-width: 350.98px) {
              right: -20px;
            }
          }
        }

      }
    }
  }
  /* === End Help us Section === */

  /* === Start Supporters Section === */
  .supporters-section{

    &__title{

      position: relative;
      margin-bottom: 45px;

      .background-text {
        @extend %bg-text;

        &__title {
          @extend %bg-text__title;

          @media (min-width: 320px) and (max-width: 424.98px) {
            font-size: 2rem;
          }
        }
      }
      .section-title {
        @extend %sct-title;

        @media (min-width: 320px) and (max-width: 424.98px) {
          top: 13px;
        }

        &__text {
          @extend %sct-title__text;

          @media (min-width: 320px) and (max-width: 424.98px) {
            font-size: 1.75rem;
          }
        }
      }
    }

    .supporters-bike{

      @media (min-width: 320px) and (max-width: 991.98px) {
        text-align: center;
      }
    }
    .supporters-btn-logo{
      margin: 50px auto;

      @media (min-width: 320px) and (max-width: 991.98px) {
        text-align: center;
      }

      .cubex-logo{
        width: 262px;
        height: 81px;
        border-radius: 41px;
        border: none;
        box-shadow: 0px 5px 16px rgba(158,158,158,0.3);
        background-color: #e9f7ff;
        margin-bottom: 20px;
        cursor: pointer;
        outline: none;

        @media (min-width: 425px) and (max-width: 991.98px) {
          margin-right: 15px;
        }
      }
      .cubits-logo{
        width: 262px;
        height: 81px;
        border-radius: 41px;
        border: none;
        box-shadow: 0px 5px 16px rgba(158,158,158,0.3);
        background-color: #e9f7ff;
        margin-top: 20px;
        cursor: pointer;
        outline: none;
      }
    }
  }
  /* === End Supporters Section === */

  /* === Start Footer Section === */
  .container-fluid {
    background-color: #e9f7ff;
  }
  .footer-section {
    background-color: #e9f7ff;

    &__high{
      padding-top: 30px;

      .mail-text{
        text-align: left;
        font-size: 0.7rem;
        line-height: 20px;
        color: $main-font-color;
        font-family: $main-font-family;
        padding: 0;

        @media (min-width: 320px) and (max-width: 991.98px) {
          text-align: center;
        }

      }
      .footer-navbar{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;

        & .nav-link{
          padding: 0 30px 20px;
          color: $main-font-color;
          font-size: 0.875rem;
          letter-spacing: 0px;
          line-height: 25px;
          color: $main-font-color;
          font-family: $main-font-family;
          text-align: center;

          @media (min-width: 320px) and (max-width: 991.98px) {
            padding: 0 20px 20px;
          }
        }
      }
      .mining-footer-text{
        text-align: right;
        font-size: 0.7rem;
        line-height: 20px;
        color: $main-font-color;
        font-family: $main-font-family;
        padding: 0;

        @media (min-width: 320px) and (max-width: 991.98px) {
          text-align: center;
        }
      }
    }
    &__low{

      .mail{
        text-align: left;
        padding: 0;

        @media (min-width: 320px) and (max-width: 991.98px) {
          text-align: center;
        }

        & img{
          margin-right: 15px;
        }

        & a{
          font-size: 0.875rem;
          line-height: 18px;
          color: $main-font-color;
          font-family: $main-font-family;
        }
      }
      .copyright{
        text-align: center;
        font-size: 0.6875rem;
        letter-spacing: 0px;
        line-height: 25px;
        color: $main-font-color;
        font-family: $main-font-family;
      }
      .companies-sm-logo{
        text-align: right;
        padding: 0;

        @media (min-width: 320px) and (max-width: 991.98px) {
          text-align: center;
          margin-bottom: 10px;
        }

        & img:first-child{
          margin-right: 15px;
        }
      }
    }
  }
  /* === End Footer Section === */

}
